* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #f5f5f5;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  height: 10%;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
}
.brand {
  font-size: 20px;
  font-weight: bold;
  color: #000;
}
.link {
  color: #000;
  text-decoration: none;
}
.links {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  width: 25%;
}
.button {
  background-color: #000;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
  margin-left: 10px;
}
.hero {
  height: 40%;
  margin-top: 20px;
  padding: 20px;
  display: flex;
  justify-content: space-around;
}
.hero-text {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: start;
  width: 40%;
}
.hero-image {
  width: 40%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
}
.hero-image > img {
  width: 50%;
  height: 100%;
}
#content {
  margin-top: 20px;
  display: flex;
  justify-content: space-evenly;
  height: 40%;
  padding: 20px;
}
.articles {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 60%;
}

.article-image {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
}
.article-text {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: start;
  width: 100%;
}
.aside {
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.aside-item {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 50px;
}

#contacts {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 20px;
}
.contact {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}
form > .field {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50px;
}
